.home-container {
    margin-top: 10px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.t-shirt-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}